<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
    <title>Student Info Page</title>
</head>
<body>

    <table>
    <div>
        <h2> Spring Boot Crud System : Student Registration</h2>
        <tr>
            <div align="left">
                <h3><a th:href="@{'/new'}"> Add new</a> </h3>

            </div>

        </tr>

        <tr>
            <div class="col-sm-5" align="center">
                <div class="panel-body" align="center">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Student Id</th>
                                <th>Student Name</th>
                                <th>Student Course</th>
                                <th>Course fee</th>
                                <th>edit</th>
                                <th>delete</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!--/*@thymesVar id="listStudents" type=""*/-->
                            <tr th:each="student:${listStudents}">
                                <!--/*@thymesVar id="id" type=""*/-->
                                <td th:text="${student.id}">Student Id</td>
                                <!--/*@thymesVar id="name" type="text"*/-->
                                <td th:text="${student.name}">Student Name</td>
                                <!--/*@thymesVar id="course" type=""*/-->
                                <td th:text="${student.course}">Student Course</td>
                                <!--/*@thymesVar id="fee" type=""*/-->
                                <td th:text="${student.fee}">Course fee</td>
                                <td>
                                    <a th:href="@{'/edit/' + ${student.id}}"> Edit </a>
                                </td>
                                <td>
                                    <a th:href="@{'/delete/' + ${student.id}}"> Delete </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tr>
    </div>
        </table>

</body>
</html>