<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>New Student Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
</head>
<body>

    <div align="center">
        <h1>Create a new Student Info</h1>
        <br/>
        <div class="col-sm-4">
            <!--/*@thymesVar id="Student" type=""*/-->
            <form action="#" th:action="@{/save}" th:object="${Student}" method="post">
                <table>
                <div align="left">
                    <tr>
                        <label class="form-label">Student Name</label>
                        <td>
                            <input type="hidden" />
                            <input type="text"  class="form-control" placeholder="Student Name"/>
                        </td>
                    </tr>
                </div>

                <div align="left">
                    <tr>
                        <label class="form-label">Student Course</label>
                        <td>
                            <input type="hidden" />
                            <input type="text"  class="form-control" placeholder="Course"/>
                        </td>
                    </tr>
                </div>

                <div align="left">
                    <tr>
                        <label class="form-label">Fee</label>
                        <td>
                            <input type="hidden" />
                            <input type="text"  class="form-control" placeholder="Fee"/>
                        </td>
                    </tr>
                </div>

                <br>
                <tr>
                    <td colspan="2"><button type="submit">Save</button></td>
                </tr>
                </table>
            </form>
        </div>
    </div>

</body>
</html>